.item-card {
  background-color: #e9e9e9;
  display: flex;
  position: relative;
  height: 328px;
  width: 325px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.item-card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 15px;
  width: 100%;
}

.item-card__title {
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 0;
  color: #00000099;
  font-size: 16px;
  line-height: 20px;
}

.item-card__image {
  cursor: pointer;
  width: 100%;
}

.card__like-btn {
  background-image: url(../../assets/like-btn.svg);
  width: 18px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card__like-btn.liked {
  background-image: url(../../assets/liked-btn.svg);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 627px) {
  .item-card {
    max-width: 164px;
    max-height: 164px;
  }
}
