#delete-form.modal__content {
  max-width: 670px;
  height: 280px;
}

#delete-form.modal__title {
  font-size: large;
  position: relative;
  left: 152px;
  top: 30px;
}

.modal__subtitle {
  display: block;
  font-size: large;
  position: absolute;
  left: 70px;
  top: 20px;
}

#delete-form.modal__delete-btn {
  top: 150px;
  right: 260px;
  width: 150px;
  font-size: large;
  cursor: pointer;
}

.modal__cancel {
  position: absolute;
  right: 300px;
  bottom: 60px;
  background: white;
  border: transparent;
  cursor: pointer;
}
